# Library

In [1]:
import pandas as pd # v 1.1.5
import os

# Scan direktori `download`
Download terlebih dahulu file `stock_summary` dari [link ini](https://www.idx.co.id/en/market-data/trading-summary/stock-summary) dan simpan kedalam direktori 'download.

In [56]:
class Scan_File_Download :  
  local_dir = 'download/'
  file_dl = []
  save_to = '../stock_summary_idx/full_col/'
  def __init__(self,dir:str=local_dir):
    for f in os.listdir(os.path.join(dir)):
      self.file_dl.append(f)
  def convert_xslx_to_csv(self):
    for file in self.file_dl :
      pd.read_excel(
        os.path.join(self.local_dir,file)).to_csv(
         os.path.join(self.save_to,
                      f'{file[14:18]}',
                      f'stock_summary_{file[14:22]}.csv'),
                     index=False)
      print(os.path.join(self.save_to,
                         f'{file[14:18]}',
                         f'stock_summary_{file[14:22]}.csv sudah disimpan'))
    return self

In [57]:
Scan_File_Download().convert_xslx_to_csv()

../stock_summary_idx/full_col/2024/stock_summary_20240206.csv sudah disimpan
../stock_summary_idx/full_col/2024/stock_summary_20240207.csv sudah disimpan
../stock_summary_idx/full_col/2024/stock_summary_20240212.csv sudah disimpan
../stock_summary_idx/full_col/2024/stock_summary_20240213.csv sudah disimpan
../stock_summary_idx/full_col/2024/stock_summary_20240215.csv sudah disimpan
../stock_summary_idx/full_col/2024/stock_summary_20240216.csv sudah disimpan
../stock_summary_idx/full_col/2024/stock_summary_20240219.csv sudah disimpan
../stock_summary_idx/full_col/2024/stock_summary_20240220.csv sudah disimpan
../stock_summary_idx/full_col/2024/stock_summary_20240221.csv sudah disimpan
../stock_summary_idx/full_col/2024/stock_summary_20240222.csv sudah disimpan

# IDX Calendar

In [2]:
from IDX_Calendar import IDX_Calendar

In [3]:
cal = IDX_Calendar()
cal.scan_calendar()

In [4]:
cal.df_calendar

      kalender  jumlah emiten
0     20190102            622
1     20190103            622
2     20190104            622
3     20190107            622
4     20190108            623
...        ...            ...
1249  20240216            923
1250  20240219            923
1251  20240220            923
1252  20240221            923
1253  20240222            923

[1254 rows x 2 columns]

In [5]:
cal.save_scan_calendar()

In [42]:
df2 = pd.read_csv('../stock_summary_idx/kalender_market_idx.csv')

In [43]:
df2

      kalender  jumlah emiten
0     20190102            622
1     20190103            622
2     20190104            622
3     20190107            622
4     20190108            623
...        ...            ...
1239  20240130            914
1240  20240131            914
1241  20240201            914
1242  20240202            914
1243  20240205            914

[1244 rows x 2 columns]