In [1]:
import pandas as pd
from Remarks import Remarks_idx as rmi

# Menyiapkan data

In [2]:
file = '../stock_summary_idx/2024/stock_summary_20240417.csv'
cols = ['Stock Code', 'Remarks', 'Last Trading Date', 'Open Price', 'High', 'Low', 'Close']

In [3]:
df = pd.read_csv(file, usecols = cols, index_col= 'Stock Code')
len(df)

927

# 3.M Efek yang dapat ditransaksikan dan/atau dijaminkan dalam Transaksi Marjin

In [4]:
df[rmi().substr(df['Remarks'],3,1) == 'M']

,Remarks,Open Price,Last Trading Date,High,Low,Close
Stock Code,,,,,,
AMAN,--M-2130000000H111------------,0,17 Apr 2024,107,103,104
ANJT,--M-1135000000D232------------,0,17 Apr 2024,730,715,715
APLN,--M-1135000000H111------------,0,17 Apr 2024,115,112,112
ARCI,--M-1135000000B143------------,0,17 Apr 2024,364,344,348
AUTO,--M-18G5MHG000E111------------,0,17 Apr 2024,2150,2070,2090
...,...,...,...,...,...,...
TRJA,--M-1100000000K132---L--------,0,17 Apr 2024,198,189,191
TSPC,--M-1135000000F211------------,0,17 Apr 2024,1935,1880,1920
ULTJ,--M-1135000000D221------------,0,17 Apr 2024,1875,1770,1855
UNIQ,--M-1130000000A132------------,0,17 Apr 2024,410,400,408
UNVR,--MO1SS3QDS000D421------------,2540,17 Apr 2024,2550,2370,2370

# 3.S Efek yang dapat ditransaksikan dan/atau dijaminkan dalam Transaksi Marjin dan Transaksi Short Selling.

In [7]:
df[rmi().substr(df['Remarks'],3,1) == 'S']

                                   Remarks  Open Price  ...   Low  Close
Stock Code                                              ...
AALI        --S-11AE106000D232------------           0  ...  6750   6800
ABMM        --S-1805000000A121------------           0  ...  4030   4060
ACES        --SO1SK5MD0000E743------------         910  ...   910    920
ADHI        --S-180M700000J211------------           0  ...   276    276
ADRO        --SO1XDAQ70000A121------------        2810  ...  2750   2750
...                                    ...         ...  ...   ...    ...
WEHA        --S-1130000000K132------------           0  ...   115    116
WIFI        --S-1K30F10000I111------------           0  ...   132    146
WIIM        --S-1805000000D311------------           0  ...  1140   1145
WOOD        --S-1135000000E211------------           0  ...   294    294
WTON        --S-1130050000B121------------           0  ...    83     92

[124 rows x 6 columns]

# 4.- Saham yang tidak dapat diperdagangan pada sesi Pra-pembukaan (Pre-opening)

In [8]:
df[rmi().substr(df['Remarks'],4,1) == '-']

                                   Remarks  Open Price  ...   Low  Close
Stock Code                                              ...
AALI        --S-11AE106000D232------------           0  ...  6750   6800
ABBA        --U-4100000000E614-E---------X           0  ...    30     30
ABDA        --U-4105000000G412-----------X           0  ...     0   5000
ABMM        --S-1805000000A121------------           0  ...  4030   4060
ACRO        --U-2130000000E413------------           0  ...    87     90
...                                    ...         ...  ...   ...    ...
ZATA        --U-4130000000E741-----------X           0  ...    18     18
ZBRA        --U-2135000000C311---L--------           0  ...   452    458
ZINC        --U-4105000000B146-----------X           0  ...    18     18
ZONE        --U-2130000000E741---L--------           0  ...  1075   1105
ZYRX        --U-2130000000I221------------           0  ...   148    148

[882 rows x 6 columns]

# 4.O Saham yang dapat diperdagangan pada sesi Pra-pembukaan (Pre-opening)

In [9]:
df[rmi().substr(df['Remarks'],4,1) == 'O']

                                   Remarks  Open Price  ...    Low  Close
Stock Code                                              ...
ACES        --SO1SK5MD0000E743------------         910  ...    910    920
ADRO        --SO1XDAQ70000A121------------        2810  ...   2750   2750
AKRA        --SO1XDXMNS000A112------------        1820  ...   1760   1795
AMRT        --SO1U4ACA4000D113------------        2740  ...   2710   2790
ANTM        --SO1SNPX5H000B146------------        1815  ...   1775   1795
ARTO        --UO1HF0500000G111------------        2310  ...   2110   2120
ASII        --SO1XDAQ76000C311------------        5150  ...   5100   5125
BBCA        XDSO1UQNCNU000G111------------        9550  ...   9525   9525
BBNI        XDSO1UQSPBU000G111------------        5250  ...   5250   5250
BBRI        --SO1UQSPNU000G111------------        5475  ...   5300   5300
BBTN        XDSO1HCEL6U000G111------------        1405  ...   1365   1375
BMRI        --SO1UQSPNU000G111------------        6700  ...   6625   6625
BRIS        --MO1SE2R5F000G111------------        2570  ...   2460   2480
BRPT        --SO1U44C48000B111------------        1010  ...    995    995
BUKA        --UO5H45900000I111----------I-         133  ...    126    127
CPIN        --SO1XD3F3D000D231------------        5075  ...   5050   5075
EMTK        --SO1SA5M4H000I111------------         412  ...    392    398
ESSA        XDSO1H7CM6D000B111------------         760  ...    715    725
EXCL        --SO1X3TM2S000J321------------        2270  ...   2110   2120
GGRM        --MO1H05970000D311------------       19825  ...  19600  19600
GOTO        --UO5SD0F44000I111----------K-          66  ...     62     62
HRUM        --MO1H7CM70000A121------------        1565  ...   1535   1565
ICBP        --MO1XNAQ2S000D222------------       10050  ...  10050  10150
INCO        --SO1SNPM3S000B146------------        4420  ...   4250   4270
INDF        --SO1SNAQ6S000D222------------        6175  ...   6050   6050
INKP        --SO1XDQU10000B152------------        9725  ...   9375   9500
INTP        --SO1XATM36000B121------------        8775  ...   8450   8450
ITMG        --SO1SDEU70000A121------------       25775  ...  25650  25850
KLBF        --SO1XNAQAS000F211------------        1475  ...   1450   1455
MAPI        --SO1X7CMBD000E741------------        1815  ...   1790   1795
MBMA        --SO2H30F04000B146------------         595  ...    535    540
MDKA        --SO1SDNF00000B143------------        2880  ...   2760   2840
MEDC        --SO1H4M964000A111------------        1620  ...   1555   1565
MTEL        --MO1U32R54000J321------------         600  ...    595    595
PGAS        --SO1XDLV98000A112------------        1380  ...   1370   1390
PGEO        --MO1HD2RF8000J411------------        1195  ...   1190   1210
PTBA        --SO1SDEXL0000A121------------        3120  ...   3060   3090
PTMP        --SO2H30F00000C143------------         154  ...    147    149
SIDO        --SO1H3EMDN000F211------------         675  ...    660    665
SMGR        --SO1XNXX56000B121------------        5550  ...   5350   5350
SRTG        --MO1H35M00000G512------------        1570  ...   1535   1555
TLKM        --SO1XNSWWS000J312------------        3220  ...   3200   3200
TOWR        --SO1U0L944000J321------------         815  ...    790    800
UNTR        --SO1XDGQ7H000C141------------       26300  ...  25575  25575
UNVR        --MO1SS3QDS000D421------------        2540  ...   2370   2370

[45 rows x 6 columns]

# Perusahaan bersih dari Notasi Khusus

In [10]:
df[rmi().substr(df['Remarks'],19,12) == '------------']

                                   Remarks  Open Price  ...   Low  Close
Stock Code                                              ...
AALI        --S-11AE106000D232------------           0  ...  6750   6800
ABMM        --S-1805000000A121------------           0  ...  4030   4060
ACES        --SO1SK5MD0000E743------------         910  ...   910    920
ACRO        --U-2130000000E413------------           0  ...    87     90
ACST        --U-1135000000J211------------           0  ...   128    128
...                                    ...         ...  ...   ...    ...
WIRG        --U-2135001000I131------------           0  ...    93     95
WOMF        --U-1105000000G211------------           0  ...   374    394
WOOD        --S-1135000000E211------------           0  ...   294    294
WTON        --S-1130050000B121------------           0  ...    83     92
ZYRX        --U-2130000000I221------------           0  ...   148    148

[670 rows x 6 columns]

# 22.L Perusahaan Tercatat belum menyampaikan laporan keuangan

In [11]:
df[rmi().substr(df['Remarks'],22,1) == 'L']

                                   Remarks  Open Price  ...   Low  Close
Stock Code                                              ...
AGII        --U-1135000000B111---L--------           0  ...  1730   1755
AKKU        --U-4130000000E512---L-------X           0  ...    18     18
ALTO        --U-4100000000D212---L-------X           0  ...    18     18
ARMY        --U-4100000000H111---L---Y---X           0  ...     0     50
ARTI        --U-4100000000A132-EDL-------X           0  ...     3      3
...                                    ...         ...  ...   ...    ...
WMPP        --U-4105000000D231---L-------X           0  ...    18     18
WMUU        --U-4130000000D231---L-------X           0  ...    18     18
YELO        --U-4130000000E711---L-------X           0  ...    18     18
ZBRA        --U-2135000000C311---L--------           0  ...   452    458
ZONE        --U-2130000000E741---L--------           0  ...  1075   1105

[101 rows x 6 columns]

# 30.X Perusahaan Tercatat dicatatkan di Papan Pemantauan Khusus

In [12]:
df[rmi().substr(df['Remarks'],30,1) == 'X']

                                   Remarks  Open Price  ...   Low  Close
Stock Code                                              ...
ABBA        --U-4100000000E614-E---------X           0  ...    30     30
ABDA        --U-4105000000G412-----------X           0  ...     0   5000
ADES        --U-4135000000D212-----------X           0  ...  9275   9275
AGAR        --U-4130000000D231-----------X           0  ...    92     93
AGRS        --U-4105000000G111-----------X           0  ...    65     65
...                                    ...         ...  ...   ...    ...
YELO        --U-4130000000E711---L-------X           0  ...    18     18
YPAS        --U-4130000000B131-----------X           0  ...     0    302
YULE        --U-4105000000G312-----------X           0  ...  2330   2360
ZATA        --U-4130000000E741-----------X           0  ...    18     18
ZINC        --U-4105000000B146-----------X           0  ...    18     18

[218 rows x 6 columns]

# Catatan

Gunakan `|` untuk multiple filter contoh `TLKM|PTBA|INDF|UNVR`

# Sumber
- https://www.idx.co.id/Media/2sdcgif5/se_00015_bei_2023_tampilan_informasi_perusahaan_tercatat_pada_kolom_remarks_dalam_jats-pdf.pdf
- https://www.idx.co.id/id/perusahaan-tercatat/notasi-khusus