In [1]:
import pandas as pd

# Menyiapkan data

In [2]:
file = '../stock_summary_idx/2024/stock_summary_20240417.csv'
cols = ['Stock Code', 'Remarks', 'Last Trading Date', 'Open Price', 'High', 'Low', 'Close']

In [3]:
df = pd.read_csv(file, usecols = cols)
len(df)

927

# 3.M Efek yang dapat ditransaksikan dan/atau dijaminkan dalam Transaksi Marjin

In [4]:
df[df['Remarks'].str[2:3] == 'M']

,Stock Code,Remarks,Open Price,Last Trading Date,High,Low,Close
32,AMAN,--M-2130000000H111------------,0,17 Apr 2024,107,103,104
41,ANJT,--M-1135000000D232------------,0,17 Apr 2024,730,715,715
47,APLN,--M-1135000000H111------------,0,17 Apr 2024,115,112,112
48,ARCI,--M-1135000000B143------------,0,17 Apr 2024,364,344,348
75,AUTO,--M-18G5MHG000E111------------,0,17 Apr 2024,2150,2070,2090
...,...,...,...,...,...,...,...
865,TRJA,--M-1100000000K132---L--------,0,17 Apr 2024,198,189,191
871,TSPC,--M-1135000000F211------------,0,17 Apr 2024,1935,1880,1920
878,ULTJ,--M-1135000000D221------------,0,17 Apr 2024,1875,1770,1855
880,UNIQ,--M-1130000000A132------------,0,17 Apr 2024,410,400,408
885,UNVR,--MO1SS3QDS000D421------------,2540,17 Apr 2024,2550,2370,2370

# 3.S Efek yang dapat ditransaksikan dan/atau dijaminkan dalam Transaksi Marjin dan Transaksi Short Selling.

In [5]:
df[df['Remarks'].str[2:3] == 'S']

,Stock Code,Remarks,Open Price,Last Trading Date,High,Low,Close
0,AALI,--S-11AE106000D232------------,0,17 Apr 2024,6825,6750,6800
3,ABMM,--S-1805000000A121------------,0,17 Apr 2024,4140,4030,4060
4,ACES,--SO1SK5MD0000E743------------,910,17 Apr 2024,930,910,920
9,ADHI,--S-180M700000J211------------,0,17 Apr 2024,284,276,276
13,ADRO,--SO1XDAQ70000A121------------,2810,17 Apr 2024,2830,2750,2750
...,...,...,...,...,...,...,...
900,WEHA,--S-1130000000K132------------,0,17 Apr 2024,125,115,116
904,WIFI,--S-1K30F10000I111------------,0,17 Apr 2024,147,132,146
905,WIIM,--S-1805000000D311------------,0,17 Apr 2024,1195,1140,1145
914,WOOD,--S-1135000000E211------------,0,17 Apr 2024,302,294,294
918,WTON,--S-1130050000B121------------,0,17 Apr 2024,95,83,92

# 4.- Saham yang tidak dapat diperdagangan pada sesi Pra-pembukaan (Pre-opening)

In [6]:
df[df['Remarks'].str[3:4] == '-']

,Stock Code,Remarks,Open Price,Last Trading Date,High,Low,Close
0,AALI,--S-11AE106000D232------------,0,17 Apr 2024,6825,6750,6800
1,ABBA,--U-4100000000E614-E---------X,0,17 Apr 2024,31,30,30
2,ABDA,--U-4105000000G412-----------X,0,17 Apr 2024,0,0,5000
3,ABMM,--S-1805000000A121------------,0,17 Apr 2024,4140,4030,4060
5,ACRO,--U-2130000000E413------------,0,17 Apr 2024,95,87,90
...,...,...,...,...,...,...,...
922,ZATA,--U-4130000000E741-----------X,0,17 Apr 2024,18,18,18
923,ZBRA,--U-2135000000C311---L--------,0,17 Apr 2024,458,452,458
924,ZINC,--U-4105000000B146-----------X,0,17 Apr 2024,18,18,18
925,ZONE,--U-2130000000E741---L--------,0,17 Apr 2024,1105,1075,1105
926,ZYRX,--U-2130000000I221------------,0,17 Apr 2024,150,148,148

# 4.O Saham yang dapat diperdagangan pada sesi Pra-pembukaan (Pre-opening)

In [7]:
df[df['Remarks'].str[3:4] == 'O']

,Stock Code,Remarks,Open Price,Last Trading Date,High,Low,Close
4,ACES,--SO1SK5MD0000E743------------,910,17 Apr 2024,930,910,920
13,ADRO,--SO1XDAQ70000A121------------,2810,17 Apr 2024,2830,2750,2750
24,AKRA,--SO1XDXMNS000A112------------,1820,17 Apr 2024,1845,1760,1795
39,AMRT,--SO1U4ACA4000D113------------,2740,17 Apr 2024,2820,2710,2790
42,ANTM,--SO1SNPX5H000B146------------,1815,17 Apr 2024,1845,1775,1795
58,ARTO,--UO1HF0500000G111------------,2310,17 Apr 2024,2350,2110,2120
63,ASII,--SO1XDAQ76000C311------------,5150,17 Apr 2024,5175,5100,5125
93,BBCA,XDSO1UQNCNU000G111------------,9550,17 Apr 2024,9675,9525,9525
98,BBNI,XDSO1UQSPBU000G111------------,5250,17 Apr 2024,5350,5250,5250
99,BBRI,--SO1UQSPNU000G111------------,5475,17 Apr 2024,5500,5300,5300
103,BBTN,XDSO1HCEL6U000G111------------,1405,17 Apr 2024,1425,1365,1375
142,BMRI,--SO1UQSPNU000G111------------,6700,17 Apr 2024,6775,6625,6625
160,BRIS,--MO1SE2R5F000G111------------,2570,17 Apr 2024,2600,2460,2480
163,BRPT,--SO1U44C48000B111------------,1010,17 Apr 2024,1045,995,995
177,BUKA,--UO5H45900000I111----------I-,133,17 Apr 2024,134,126,127
221,CPIN,--SO1XD3F3D000D231------------,5075,17 Apr 2024,5250,5050,5075
279,EMTK,--SO1SA5M4H000I111------------,412,17 Apr 2024,418,392,398
290,ESSA,XDSO1H7CM6D000B111------------,760,17 Apr 2024,760,715,725
295,EXCL,--SO1X3TM2S000J321------------,2270,17 Apr 2024,2290,2110,2120
320,GGRM,--MO1H05970000D311------------,19825,17 Apr 2024,19825,19600,19600
332,GOTO,--UO5SD0F44000I111----------K-,66,17 Apr 2024,66,62,62
369,HRUM,--MO1H7CM70000A121------------,1565,17 Apr 2024,1580,1535,1565
376,ICBP,--MO1XNAQ2S000D222------------,10050,17 Apr 2024,10300,10050,10150
395,INCO,--SO1SNPM3S000B146------------,4420,17 Apr 2024,4450,4250,4270
396,INDF,--SO1SNAQ6S000D222------------,6175,17 Apr 2024,6200,6050,6050
403,INKP,--SO1XDQU10000B152------------,9725,17 Apr 2024,9750,9375,9500
411,INTP,--SO1XATM36000B121------------,8775,17 Apr 2024,8775,8450,8450
426,ITMG,--SO1SDEU70000A121------------,25775,17 Apr 2024,25950,25650,25850
467,KLBF,--SO1XNAQAS000F211------------,1475,17 Apr 2024,1525,1450,1455
524,MAPI,--SO1X7CMBD000E741------------,1815,17 Apr 2024,1840,1790,1795
532,MBMA,--SO2H30F04000B146------------,595,17 Apr 2024,595,535,540
539,MDKA,--SO1SDNF00000B143------------,2880,17 Apr 2024,2930,2760,2840
543,MEDC,--SO1H4M964000A111------------,1620,17 Apr 2024,1620,1555,1565
589,MTEL,--MO1U32R54000J321------------,600,17 Apr 2024,610,595,595
653,PGAS,--SO1XDLV98000A112------------,1380,17 Apr 2024,1405,1370,1390
654,PGEO,--MO1HD2RF8000J411------------,1195,17 Apr 2024,1245,1190,1210
695,PTBA,--SO1SDEXL0000A121------------,3120,17 Apr 2024,3160,3060,3090
698,PTMP,--SO2H30F00000C143------------,154,17 Apr 2024,155,147,149
760,SIDO,--SO1H3EMDN000F211------------,675,17 Apr 2024,675,660,665
777,SMGR,--SO1XNXX56000B121------------,5550,17 Apr 2024,5575,5350,5350
801,SRTG,--MO1H35M00000G512------------,1570,17 Apr 2024,1575,1535,1555
844,TLKM,--SO1XNSWWS000J312------------,3220,17 Apr 2024,3240,3200,3200
854,TOWR,--SO1U0L944000J321------------,815,17 Apr 2024,815,790,800
884,UNTR,--SO1XDGQ7H000C141------------,26300,17 Apr 2024,26300,25575,25575
885,UNVR,--MO1SS3QDS000D421------------,2540,17 Apr 2024,2550,2370,2370

# Perusahaan bersih dari Notasi Khusus

In [8]:
df[df['Remarks'].str[18:30] == '------------']

,Stock Code,Remarks,Open Price,Last Trading Date,High,Low,Close
0,AALI,--S-11AE106000D232------------,0,17 Apr 2024,6825,6750,6800
3,ABMM,--S-1805000000A121------------,0,17 Apr 2024,4140,4030,4060
4,ACES,--SO1SK5MD0000E743------------,910,17 Apr 2024,930,910,920
5,ACRO,--U-2130000000E413------------,0,17 Apr 2024,95,87,90
6,ACST,--U-1135000000J211------------,0,17 Apr 2024,132,128,128
...,...,...,...,...,...,...,...
910,WIRG,--U-2135001000I131------------,0,17 Apr 2024,96,93,95
913,WOMF,--U-1105000000G211------------,0,17 Apr 2024,400,374,394
914,WOOD,--S-1135000000E211------------,0,17 Apr 2024,302,294,294
918,WTON,--S-1130050000B121------------,0,17 Apr 2024,95,83,92
926,ZYRX,--U-2130000000I221------------,0,17 Apr 2024,150,148,148

# 22.L Perusahaan Tercatat belum menyampaikan laporan keuangan

In [9]:
df[df['Remarks'].str[21:22] == 'L']

,Stock Code,Remarks,Open Price,Last Trading Date,High,Low,Close
16,AGII,--U-1135000000B111---L--------,0,17 Apr 2024,1775,1730,1755
22,AKKU,--U-4130000000E512---L-------X,0,17 Apr 2024,18,18,18
30,ALTO,--U-4100000000D212---L-------X,0,17 Apr 2024,18,18,18
54,ARMY,--U-4100000000H111---L---Y---X,0,17 Apr 2024,0,0,50
57,ARTI,--U-4100000000A132-EDL-------X,0,17 Apr 2024,3,3,3
...,...,...,...,...,...,...,...
911,WMPP,--U-4105000000D231---L-------X,0,17 Apr 2024,18,18,18
912,WMUU,--U-4130000000D231---L-------X,0,17 Apr 2024,18,18,18
919,YELO,--U-4130000000E711---L-------X,0,17 Apr 2024,18,18,18
923,ZBRA,--U-2135000000C311---L--------,0,17 Apr 2024,458,452,458
925,ZONE,--U-2130000000E741---L--------,0,17 Apr 2024,1105,1075,1105

# 30.X Perusahaan Tercatat dicatatkan di Papan Pemantauan Khusus

In [10]:
df[df['Remarks'].str[29] == 'X']

,Stock Code,Remarks,Open Price,Last Trading Date,High,Low,Close
1,ABBA,--U-4100000000E614-E---------X,0,17 Apr 2024,31,30,30
2,ABDA,--U-4105000000G412-----------X,0,17 Apr 2024,0,0,5000
8,ADES,--U-4135000000D212-----------X,0,17 Apr 2024,9350,9275,9275
15,AGAR,--U-4130000000D231-----------X,0,17 Apr 2024,93,92,93
18,AGRS,--U-4105000000G111-----------X,0,17 Apr 2024,65,65,65
...,...,...,...,...,...,...,...
919,YELO,--U-4130000000E711---L-------X,0,17 Apr 2024,18,18,18
920,YPAS,--U-4130000000B131-----------X,0,17 Apr 2024,0,0,302
921,YULE,--U-4105000000G312-----------X,0,17 Apr 2024,2360,2330,2360
922,ZATA,--U-4130000000E741-----------X,0,17 Apr 2024,18,18,18
924,ZINC,--U-4105000000B146-----------X,0,17 Apr 2024,18,18,18

# Catatan

Gunakan `|` untuk multiple filter contoh `TLKM|PTBA|INDF|UNVR`

# Sumber
- https://www.idx.co.id/Media/2sdcgif5/se_00015_bei_2023_tampilan_informasi_perusahaan_tercatat_pada_kolom_remarks_dalam_jats-pdf.pdf
- https://www.idx.co.id/id/perusahaan-tercatat/notasi-khusus