# Import Modul

In [1]:
import pandas as pd # v 1.1.5
import os
from Summary import Summary

# Summary

In [2]:
s = Summary(mode='local', start_date='2019', end_date='2023')

In [3]:
s.dfs_days['20190103']

,Remarks,Prev,Open,Date,High,Low,Close,Change,Volume,Value,Freq,year,month,No
Stock Code,,,,,,,,,,,,,,
AALI,--S1K--1,11675,0,03 Jan 2019,12225,11700,12225,550,957800,11451645000,1211,2019,1,2
ABBA,--U9---2,96,0,03 Jan 2019,98,95,96,0,4995500,482406700,463,2019,1,2
ABDA,--U8---2,6975,0,03 Jan 2019,0,0,6975,0,0,0,0,2019,1,2
ABMM,--U9---1,2270,0,03 Jan 2019,0,0,2270,0,0,0,0,2019,1,2
ACES,--S9K--1,1510,0,03 Jan 2019,1595,1510,1580,70,15315200,24043851000,2612,2019,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YPAS,--U3---2,605,0,03 Jan 2019,605,525,525,-80,3200,1924000,4,2019,1,2
YULE,--U8---2,206,0,03 Jan 2019,184,162,165,-41,3900,650100,6,2019,1,2
ZBRA,--U9---2,50,0,03 Jan 2019,0,0,50,0,0,0,0,2019,1,2
ZINC,--U2---2,1600,0,03 Jan 2019,1615,1600,1605,5,14228400,22872428000,2947,2019,1,2
ZONE,--U4---2,515,0,03 Jan 2019,525,505,525,10,1006200,520155500,278,2019,1,2

In [4]:
s.monthly_df['201901']

,Remarks,Prev,Open,Date,High,Low,Close,Change,Volume,Value,Freq,year,month,No
Stock Code,,,,,,,,,,,,,,
AALI,--S1K--1,11825,0,02 Jan 2019,11850,11575,11675,-150,452100,5287647500,508,2019,1,1
ABBA,--U9---2,96,0,02 Jan 2019,100,95,96,0,4317300,418121100,534,2019,1,1
ABDA,--U8---2,6975,0,02 Jan 2019,0,0,6975,0,0,0,0,2019,1,1
ABMM,--U9---1,2270,0,02 Jan 2019,0,0,2270,0,0,0,0,2019,1,1
ACES,--S9K--1,1490,0,02 Jan 2019,1515,1490,1510,20,3574700,5388215500,1619,2019,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YPAS,--U3---2,600,0,31 Jan 2019,700,570,680,80,4800,2793000,6,2019,1,22
YULE,--U8---2,196,0,31 Jan 2019,196,180,188,-8,21500,4002200,15,2019,1,22
ZBRA,--U9---2,50,0,31 Jan 2019,0,0,50,0,0,0,0,2019,1,22
ZINC,--U2---2,1650,0,31 Jan 2019,1715,1650,1675,25,27443600,46029257000,951,2019,1,22
ZONE,--U4---2,496,0,31 Jan 2019,500,492,498,2,358300,178186600,91,2019,1,22

In [5]:
s.summary

{}

In [6]:
s.get_summary()

202402 dilewat
202401 dilewat
2024 dilewat

# Test Summary

In [ ]:
#s.dfs_days

In [ ]:
s.set_summary_dict()

In [ ]:
s.summary_dict_to_csv()

In [ ]:
s.monthly['202201']